*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none!important;
}

#header {
    width: 100%;
    height: 56px;
    /* background-color: #f5f5f5; */
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    display:flex;

}

.start{
    display: flex;
    padding-top: 6px;
}
.start div{
    display: inline-block;
}
.start .menu-svg{
    border-radius: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
}

.start .menu-svg:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.start .logo{
    width: 90px;
    margin-bottom: 9px;
    display: flex;
    cursor: pointer;
    margin-top: 6px;
}

.logo span{
    top: 0 !important;
}

#header .center{
    display: inline-block;
    height: 56px;
    padding-top: 9px;
    display: flex;
    width: 60%;
    justify-content: center;
}

.center div{
    display: inline-block;
}

.center .input-search-bar{
    border: 1px solid #ccc;
    border-radius: 40px 0 0 40px;
    width: 250px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    display: flex;
    height: 40px;
}

.center .input-search-bar .search-box{
    border: none;
    padding-left: 10px;
    outline: none;
    width:91%;
    font-size: 16px;
    font-weight: 400;
}

.input-search-bar .ti-search{
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 7px;
    display: none;
}

.input-search-bar:hover .ti-search{
    display: inline-block;
}

.input-search-bar .ti-layout-tab{
    float: right;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.center .search-button{
    border: 1px solid #ccc;
    border-radius: 0 40px 40px 0;
    background-color: #f8f8f8;
    width: 60px;
    height: 40px;
}

.start .ti-menu:hover,
.center .micro:hover,
.end .ti-video-camera:hover,
.end .ti-comments:hover,
.center .search-button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.micro{
    width: 40px;
    height: 40px;
    padding: 12px 11px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #f8f8f8;
}
.end{
    display: flex;
}
.end div{
    display: inline-block;
    line-height: 56px;
    padding: 5px;
}

.end .ti-video-camera,
.end .ti-comments{
    width: 40px;
    height: 40px;
    padding: 11px;
    border-radius: 30px;
}

.end .profile{
    width: 60px;
    height: 34px;
}

.end .profile img{
    margin-top: 11px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.sidebar{
    height: 100%;
    width: 216px;
    padding: 0 12px;
    position: fixed;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    height: 5px;
    width: 10px;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}

.sidebar .navigator{
    border-bottom: 1px solid #000;
    padding: 5px 0;
}

.sidebar div.navigator a{
    border-radius: 50px;
    display: block;
    color: #000;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 10px;
    line-height: 40px;
    font-weight: 500;
    width: 180px;
    height:40px;
    box-sizing: border-box;
    padding: 0 12px;
}

.sidebar div.navigator a:hover{
    background-color: #f0f0f0;
}

.sidebar a i {
    padding-right: 7px;
}

.sidebar .more{
    padding: 5px 12px;
}

.sidebar .more a{
    color: #000;
    margin-right: 4px;
    font-weight: 600;
    font-size: 10px;
    display: inline-block;
}

.content{
    padding: 5px 12px;
    width: calc(100% - 216px); 
    max-width: calc(100% - 216px); 
    height: 2000px; 
    margin-left: 216px;
}

.content .suggest a{
    background-color: #ccc;
    color: #000;
    padding: 3px 12px;
    border-radius: 6px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.content .suggest a:first-child{
    background-color: #000;
    color: #fff;
}


.content .videos-list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.videos-list .video-item{
    width: 19%; 
    height: 310pxpx;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}

.videos-list .video-info{
    display: flex;
    margin-top: 12px;
}

.videos-list .author{
    color: rgba(0,0,0,0.7);
}

.video-item > img{
    width: 100%; 
    border-radius: 10px;
}

.video-info img{
    border-radius: 17px; 
    margin-right: 12px;
}

.short-bookmark{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 8px;
}

.shorts-list .short-item{
    width: 220px;
    display: inline-block;
    margin: 8px;
    margin-right: 8px;
    margin-bottom:20px
}

.short-item img{
    border-radius: 10px;
    display: inline-block;
}

.short-item .short-description{
    display: inline-block;
    width: 220px;
}

.short-item .short-name{
    padding-top: 12px;
    padding-right: 24px;
}